[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
	shallow = true
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
	shallow = true
[submodule "menlo-powerline"]
	path = menlo-powerline
	url = https://github.com/abertsch/Menlo-for-Powerline
